<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src= "https://unpkg.com/vue@next"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Ejercicio N°3 Vue</title>

</head>
    <body>
        <nav class="navbar navbar-light bg-info">
            <div class="container-fluid">
              <span class="navbar-brand mb-0 h2">EJ3 VUE</span>
            </div>
          </nav>

          <div id="app" class="container mt-3">

            <div class="row">
                <div class="col-lg-4">
                    <div class="mb-3">
                        <p>Titulo</p>
                        <input v-model="Titulo" class="form-control" type="text" placeholder="Ingrese Titulo">
            
                    </div>
            
                    <div class="mb-3">
                        <label>Url de la Imagen </label>
                        <input v-model="Url de la imagen" class="form-control" type="text" placeholder="Ingrese Url">
            
                    </div>
            
                    
                    <button v-on:click="guardar Imagen" class="btn bg-success.bg-gradient ">Guardar Imagen</button>
                </div>
                
            </div>
    </body>
</html>